*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    
    background-color: #a9bae4;
    margin: 0;
}
h1{
    color: #0b3f88;
}
.about{
    /* background-color: #e6f3ff; */
    padding-top: 10px;
    color: #2e2e2f;
  
    
}
.about .about1{
    display: flex;
    justify-content: space-between;
    
    margin: 200px;
    margin-bottom: 40px;
}

.about .about1 .content{
    width: 60%;
    padding: auto;
    font-size: large;
}

.about .about1 img{
    box-shadow: 20px 20px 10px #6e6e71;
}

/* .content2{
    background-image: url();
} */
.our-mission{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    padding: 50px;
    
    
}
.our-mission .mission1{
    margin-left: 150px;
}
.our-mission .missionc{
    width: 40%;
    margin-top: 20px;
    margin-left:100px;
    font-size: large;
    
}

.ourStory{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    padding: 50px;
    
}
.ourStory .storyc{
    margin-left: 150px;
    width: 40%;
    font-size: large;
}
.ourStory .storyi{
    margin-left: 80px;
    margin-top: 60px;
}

.bynum{
    text-align: center;
}
.bynum .bynumc{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.bynum .bynumc .box{
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.bynum .bynumc .box a{
    text-decoration: none;
    color: #6e6e71;
}
.bynum .bynumc .box:hover{
    transform: translate(-10px, -10px);
}


.our-team{
    width: 100%;
    background-color: #ffffff;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}
.our-team .teammembers{

    display: flex;
    /* justify-content: center; */
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-between;
}